@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.font-bold {
  font-weight: 700;
}

.pill{
  border-radius: 500px;
}

.shadow-black {
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25), 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.compose_btn_container{
  display: flex;
  padding: 1rem;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.compose_btn{
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  justify-content: center;
  align-items: center;
  display: flex;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.compose_text{
  margin-left: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.sidebar-list{
  flex-grow: 1;
  padding-left: 1rem;
  padding-right: 1rem;
}

.sidebar_items_selected{
  --tw-text-opacity: 1;
  color: rgba(17, 24, 39, var(--tw-text-opacity));
  padding-left: 0.125rem;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  display: flex;
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
}

.sidebar_items{
  --tw-text-opacity: 1;
  color: rgba(17, 24, 39, var(--tw-text-opacity));
  margin-top: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  display: flex;
  border-radius: 0.5rem;
  background-color: transparent;

  --tw-bg-opacity: 0;
  background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
}
.sidebar_items:hover{
  --tw-bg-opacity: 1;
}
.sidebar_items:focus{
  --tw-bg-opacity: 1;
}

.sidebar_icons{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 1.25rem;
  width: 1.25rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.sidebar_icons_rightmost{
  margin-left: auto;
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 1.25rem;
  width: 1.25rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.sidebar_text{
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.e-grid td.e-active {
  font-weight: auto;
}

.e-grid .e-gridheader .e-sortfilter .e-headercelldiv, .e-grid .e-gridheader .e-stackedheadercelldiv, .e-grid .e-gridheader .e-headercell .e-headercelldiv.e-headerchkcelldiv {
  padding: 0;
}

.rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.rotate-135 {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.no-wrap{
  white-space: nowrap;
}