.e-grid .e-rowcell {
  padding: 6px 6px;
}
.e-grid .e-rowcell .e-checkbox-wrapper, .e-grid .e-rowcell .e-css.e-checkbox-wrapper {
  height: auto !important;
  line-height: 20px;
}
.e-gridchkbox {
  align-items: center;
}