.e-grid .e-rowcell {
  border-style: solid;
  border-width: 1px 0 0;
  display: table-cell;
  font-size: 13px;
  line-height: 20px;
  overflow: hidden;
  padding: 0.1rem 0 0 1rem !important;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
}

.e-grid .e-rowcell .e-checkbox-wrapper, .e-grid .e-rowcell .e-css.e-checkbox-wrapper {
  height: auto !important;
  line-height: 20px !important;
}
.e-gridchkbox {
  align-items: center !important;
}